This code will read in the field data from the KSA205 data template. Be sure to use the name of your file and check the sheet name is `Final data`.

Replace the right hand side of the next line with your file name (making sure it is in the same folder as this script):

In [1]:
import pandas as pd

In [7]:
data = pd.read_excel('KSA205_2024_FieldDataCompilation_FINAL.xlsx', sheet_name = '4. Final data to share', skiprows = 7)

In [8]:
data

,Group members,Latitude,Longitude,SamplingDay,SamplingTime,SamplingDepth,Oxygen,pH,temperature,salinity,...,Salinity,Unnamed: 16,Field Density,Oxygen,Oxygen saturation,% Oxygen saturation,Alkalinity,Phosphate.1,DIC,pCO2
0,"Santa, Rudolph and Mrs Clause",-30.5000,140.0000,12/25/2022,01:00:00,5.00,150.000,8.00,12.0,33.0,...,33.0,NaN,1025.0,145.0,263.0,55.13308,1099.0,1.9,2039.0,269.79
1,"Ruby, Ruby, Titus, Bridie, leila",-42.8800,147.3300,27/03/2024,09:24:00,8.11,231.560,8.05,17.7,33.3,...,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Grace, Georgia, Rodrigo, Camille, Ann",-42.8859,147.3357,27/3/2024,10:17:00,8.00,7.140,8.02,18.6,34.1,...,32.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Ethan, Amelia, Lydia, Jackson, Ali, arwyn",-42.8859,147.3358,27/03/2024,09:35:00,8.00,230.000,7.99,20.0,33.1,...,29.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Facebook market place,-42.8859,147.3358,27/03/2025,10:00:00,8.15,226.880,7.91,18.8,33.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"sheng, Wan, Bryan, ben, Jordan",-42.8860,147.3364,2024-04-04 00:00:00,15:30:00,1.00,255.310,8.04,18.1,32.1,...,32.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"Mila, Angus, Darcy, Armirah and Finn",-42.8859,147.3364,2024-04-04 00:00:00,14:30:00,7.30,271.040,8.04,18.5,31.1,...,32.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"Lauren, Cam, Sasha, Octavius, Ashalynn, Alyssa",-42.8860,147.2264,2024-04-04 00:00:00,15.15,7.76,272.810,7.99,19.1,33.8,...,29.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"Bianca, Hugo, Tully, Jude",-42.8660,147.3364,2024-04-04 00:00:00,15:15:00,7.76,260.625,8.11,19.5,33.6,...,29.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Pacific Crest,-42.8861,147.3364,2024-05-04 00:00:00,13:40:00,8.00,7.940,8.02,19.4,32.0,...,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Spirit of Hobart,-42.8859,147.3364,2024-05-04 00:00:00,14:00:00,7.32,254.060,8.01,21.2,32.5,...,31.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Botto Ox,-42.8858,147.3365,2024-05-04 00:00:00,01:24:00,6.99,243.125,7.85,21.4,33.0,...,29.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,The Spice Girls,-42.8860,147.3364,2024-05-04 00:00:00,02:25:00,1.00,253.440,8.06,20.2,32.6,...,29.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN